.ripple-grid-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #000000;
  pointer-events: auto;
}

.ripple-grid-container canvas {
  pointer-events: auto;
}
